/* Skills Section */
.skills {
    background: rgba(0, 0, 0, 0.5); /* Slightly darkened background for better text visibility */
    color: white;
    padding: 50px 20px;
    min-height: 100vh; /* Ensures section takes full viewport height */
  }
  
  .skills-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.8;
  }
  
  .skills-list li {
    margin-bottom: 10px;
  }